// Base
$bg-color: #060701;
$font-light: #f7f8f1;
$font-dark: #22231c;

// Primary
$primary-color: #C1E021;
$bg-prim-gradient: linear-gradient(45deg, $primary-color, #dfff3f 80%);

// System
$s-success: #47f95e;
$s-danger: #e12147;
$s-warning: #ffde38;
$s-neutral: #d4d7c1;
