// Base
$bg-color: #ffffff;
$font-color: #262a27;
$transition-prim: 0.3s ease-in;

// Primary
$primary: #61CE70;
$bg-prim-gradient: linear-gradient(45deg, $primary, #82e58f 80%);

// Secondary
$secondary: #da4b13;

// System
$s-success: $primary;
$s-danger: #ff3c2e;
$s-warning: #ffdc2e;
