@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$heading-font: 'Merriweather', sans-serif;
$content-font: 'Montserrat', sans-serif;

$font-size-xs-min: 14px;
$font-size-xs-max: 16px;
$font-size-sm-min: 16px;
$font-size-sm-max: 18px;
$font-size-md-min: 18px;
$font-size-md-max: 22px;
$font-size-lg-min: 20px;
$font-size-lg-max: 24px;
$font-size-xl-min: 24px;
$font-size-xl-max: 40px;
$font-size-xxl-min: 28px;
$font-size-xxl-max: 44px;
$font-size-huge-min: 36px;
$font-size-huge-max: 64px;
