.c-checkout {
  @include flex-center;
  flex-direction: column;

  h1 {
    @include responsive-font($font-size-xxl-min, $font-size-xxl-max);
  }

  &__payment-element {
    margin-top: 1rem;
  }

  &__error-messages {
    font-family: $content-font;
    color: $s-danger;
    padding: 1rem;
    width: fit-content;
  }

  &__security-message {
    font-style: italic;
    color: rgb(153, 153, 153);
    text-align: left;
  }

  .c-button {
    width: 100%;
    margin-top: 1rem;
  }
}
