#coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 17rem;

  .logo {
    width: 35%;
  }

  form {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  .name-inputs {
    label {
      margin-top: 0;
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .marketing-and-form {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
  }

  .marketing {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .button-prim {
      width: 50%;
      height: 48px;
    }
  }
}
