.c-new-session {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;

  &__log-in-form {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .c-button {
    height: 48px;
    width: 100%;
  }
}
