#registration-container {
  width: 100%;
  @include flex-center;
  flex-direction: column;

  form {
    @include flex-center;
    flex-direction: column;
    width: 50%;
  }

  .field, input {
    width: 100%;
  }

  .field {
    @include flex-center;
    flex-direction: column;
    margin: 1rem auto 0.5rem;

    label {
      width: 100%;
      text-align: left;
    }
  }

  h3 {
    margin: 1rem auto;
  }

  .cancel-button-div {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  .actions {
    @include flex-center;
    width: 100%;
  }

  .c-button {
    height: 3rem;
    width: 75%;
  }
}
