<h1>Farewell, <%= @name %> – Until We Meet Again!</h1>
<p>Hey <%= @name %>,</p>
<p>We just noticed you’ve decided to bounce from our subscription club, and while we're bummed to see you go, we totally get it. Priorities change and sometimes you’ve got to do what’s best for you!</p>
<p>I just wanted to shoot you this message to let you know it’s been awesome having you with us. Your support has meant the world to us and helped us do what we do best. Hopefully, we’ve added a little extra pep to your step along the way.</p>
<p>If you ever feel like rejoining the squad, remember, our door's always wide open. Whether it's for some killer bets, catching up with the community, or just checking out how are we doing, we’d love to catch up again.</p>
