<p>Hey <%= @name %>,</p>
<p>Hope you're doing awesome! Just a quick note to let you know that your invoice has been settled, and everything's squared away. We’ve attached it to this email, so you can check out all the deets for your records.</p>
<p>We’re all about keeping things smooth and easy, so if you have any questions, don't hesitate to reach out. Just shoot us a message, and we’ll get it sorted out pronto!</p>
<p>For your convenience, you can view the invoice via <a href="<%= @invoice_pdf_link %>">this link</a>. It's all good, so no worries!</p>
