<h1>Welcome to Tenniswins! 🎾</h1>
<p>Hi <%= @name %>,</p>
<p>Welcome to the Tenniswins crew! 🎉 We’re pumped to have you on board. As a member, you now have access to top-notch tennis betting insights that'll keep you ahead of the game.</p>
<p>Feeling pumped yet? We’re all about making this experience as awesome as Federer’s backhand. If you have questions or just want to chat about the latest matches, hit us up. We’re here to help.</p>
<p>Let’s serve up some winning bets together!</p>
