<% if flash[:notice] %>
  <div class="c-flash--success">
    <button class="c-button" onclick="closeFlash()">x</button>
    <% Array(flash[:notice]).each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="c-flash--alert">
    <button class="c-button" onclick="closeFlash()">x</button>
    <h3>Please correct the following issues:</h5>
    <ul>
      <% Array(flash[:alert]).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<script>
  function closeFlash() {
    const flashMessage = document.querySelector(".c-flash");
    flashMessage.remove()
  }
</script>
