<div class="c-modal" id="modal" data-active="false" data-controller="modal" style="display: none;">
  <div>
    <% if type == "bets" %>
      <%= render "shared/modal_content_bets", bet: bet %>
    <% end %>
  </div>
</div>
