<div class="c-checkout" data-controller="stripe" data-public-key="<%= ENV.fetch('STRIPE_PUBLIC_TEST_KEY') %>">
  <div>
    <h1>Price <span class="u-highlight-prim" data-stripe-target="priceSpan"></span><span data-stripe-target="monthlySpan"></span></h1>
    <form class="c-checkout__payment-form">
      <div class="c-checkout__payment-element">
        <!-- Elements will create form elements here -->
      </div>
      <button type="submit" class="c-button" data-action="click->stripe#handleFormSubmission"><%= icon("fa-solid", "credit-card") %> Pay</button>
      <div class="c-checkout__error-messages">
        <!-- Display error message to your customers here -->
      </div>
    </form>
    <p class="c-checkout__security-message"><span class="u-highlight-prim">#</span> All payments are processed by Stripe and secured via HTTPS protocol.</p>
  </div>
</div>
