// Primary button
.button-prim {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 16px;
  background-color: $primary;
  transition: $transition-prim;
  font-weight: 700;

  &:hover {
    background-color: rgba($color: $primary, $alpha: 0.5);
    transition: $transition-prim;
  }
}

.button-prim-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary;
  border: 2px solid $primary;
  padding: calc(16px - 2px);
  transition: $transition-prim;
  font-weight: 700;

  &:hover {
    border: 2px solid $primary;
    color: #fff;
    background-color: $primary;
    transition: $transition-prim;
  }
}

// Secondary button
.button-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 16px;
  background-color: $secondary;
  transition: $transition-prim;
  font-weight: 700;

  &:hover {
    background-color: rgba($color: $secondary, $alpha: 0.5);
    transition: $transition-prim;
  }
}

.button-sec-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary;
  border: 2px solid $secondary;
  padding: calc(16px - 2px);
  transition: $transition-prim;
  font-weight: 700;

  &:hover {
    border: 2px solid $secondary;
    color: #fff;
    background-color: $secondary;
    transition: $transition-prim;
  }
}
