// Buttons
.c-button {
  @include flex-center;
  color: $bg-color;
  font-size: 1rem;
  padding: 1rem;
  background-color: $primary-color;
  transition: $transition-prim;
  font-weight: 700;
  cursor: pointer;
  height: fit-content;

  i {
    margin-right: 0.5rem;
    transition: transform 0.3s ease;
  }

  &:hover {
    background-color: #dfff3f;
    color: $font-dark;
    transition: $transition-prim;
    box-shadow: 0 0 10px $primary-color;

    i {
      transform: rotate(360deg);
      transition: transform 0.3s ease;
    }
  }

  &--outline {
    color: $primary-color;
    font-size: 1rem;
    border: 2px solid $primary-color;
    padding: calc(1rem - 2px);
    transition: $transition-prim;
    font-weight: 700;
    cursor: pointer;
    background-color: $bg-color;
    height: fit-content;

    &:hover {
      border: 2px solid $primary-color;
      color: $bg-color;
      background-color: $primary-color;
      transition: $transition-prim;

      i {
        transform: rotate(360deg);
        transition: transform 0.3s ease;
      }
    }
  }

  &--warning-outline {
    @extend .c-button--outline;
    border-color: $s-warning;
    color: $s-warning;

    &:hover {
      background-color: $s-warning;
      border-color: $s-warning;
      color: $font-dark;
    }
  }

  &--danger-outline {
    @extend .c-button--outline;
    border-color: $s-danger;
    color: $s-danger;

    &:hover {
      background-color: $s-danger;
      border-color: $s-danger;
      color: $font-light;
    }
  }

  &--success-outline {
    @extend .c-button--outline;
    border-color: $s-success;
    color: $s-success;

    &:hover {
      background-color: $s-success;
      border-color: $s-success;
      color: $font-dark;
    }
  }
}
