// Primary button
.button-prim {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $bg-color;
  font-size: 1rem;
  padding: 1rem;
  background-color: $primary;
  transition: $transition-prim;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: #dfff3f;
    color: $font-dark;
    transition: $transition-prim;
    box-shadow: 0 0 10px $primary;
  }
}

.button-prim-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary;
  font-size: 1rem;
  border: 2px solid $primary;
  padding: calc(16px - 2px);
  transition: $transition-prim;
  font-weight: 700;
  cursor: pointer;
  background-color: $bg-color;

  &:hover {
    border: 2px solid $primary;
    color: $bg-color;
    background-color: $primary;
    transition: $transition-prim;
  }
}

// System buttons

.button-danger-outline {
  border: 2px solid $s-danger;
  padding: 0.5rem;
  background-color: $bg-color;
  color: $s-danger;
  cursor: pointer;

  &:hover {
    background-color: $s-danger;
    color: $font-light;
    transition: 0.3s ease-in;
  }
}

.button-success-outline {
  border: 2px solid $s-success;
  padding: 0.5rem;
  background-color: $bg-color;
  color: $s-success;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: $s-success;
    color: $font-dark;
    transition: 0.3s ease-in;
  }
}

.button-warning-outline {
  border: 2px solid $s-warning;
  padding: 0.5rem;
  background-color: $bg-color;
  color: $s-success;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: $s-warning;
    color: $font-light;
    transition: 0.3s ease-in;
  }
}
