.flash-message {
  padding: 1rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 25%;

  li {
    margin: 0.5rem 1rem;
  }

  .button-prim {
    padding: 0.2rem 0.5rem;
    position: relative;
    left: 93%;
  }
}

.success {
  background-color: $bg-color;
  border: solid 2px $primary;
  color: $font-light;
  display: flex;
  align-items: center;
  justify-content: start;
}

.alert {
  background-color: $bg-color;
  border: 2px solid rgba($color: $s-danger, $alpha: 1);
  color: $font-light;
}
