#navbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;


  .logo-image {
    width: 200px;
  }

  .menu {
    @include flex-center;
    gap: 1rem;
  }

  .nav-link {
    color: $font-light;
    text-decoration: none;
    padding: 1rem;
    border-bottom: 2px solid transparent;
    font-weight: 700;
    transition: $transition-prim;
  }

  .nav-link:hover, .active {
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    transition: $transition-prim;
  }

  .account {
    position: relative;
    margin-left: 50px;
  }

  .user {
    width: 50px;
    height: 50px;
    color: $primary-color;
    @include flex-center;
    flex-direction: column;
    border-radius: 100%;
    font-size: 2rem;
    border: solid 2px $primary-color;
    cursor: pointer;
  }


  #user-menu {
    position: absolute;
    right: 1.5rem;
    border: 2px solid $primary-color;
    flex-direction: column;
    width: 200px;
    background-color: $bg-color;
    z-index: 10;
  }

  #user-menu .user-menu-item {
    @include menu-item;
  }

  .credits, .credits-nav, .user-email {
    list-style-type: none;
  }

  .credits-nav {
    font-size: 1.5rem;
  }

  .credits {
    padding: 1rem;
  }

  .user-email {
    padding: 1rem;
    font-style: italic;
  }
}
