.pagination {
  margin-top: 1rem;
  display: flex;
  align-items: center;

  span {
    @include flex-center;
  }

  .pagination-link {
    text-align: center;
    border: 2px solid $primary-color;
    padding: 1rem;
    font-weight: 700;
  }

  .gap {
    @extend .pagination-link;
  }

  .page a, .next a, .last a, .prev a, .first a {
    @extend .pagination-link;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $primary-color;
      transition: 0.3s ease-in-out;
      color: $font-dark;
      transition: 0.3s ease-in-out;
      font-weight: 700;
    }
  }

  .current {
    color: $font-dark;
    background-color: $primary-color;
    font-weight: 700;
    border: 2px solid $primary-color;
    padding: 1rem;
  }
}
