.pagination {
  margin-top: 1rem;
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page a, .next a, .last a, .prev a, .first a {
    text-align: center;
    border: 2px solid $primary;
    padding: 1rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $primary;
      transition: 0.3s ease-in-out;
      color: $font-dark;
      transition: 0.3s ease-in-out;
      font-weight: 700;
    }
  }

  .current {
    color: $font-dark;
    background-color: $primary;
    font-weight: 700;
    border: 2px solid $primary;
    padding: 1rem;
  }
}
