/*
  !!!Convetions used!!!
  .card (Block)
  .card__content (Element)
  .card__body (Element)
  .card--covered (Modifier)
*/

@import 'config/index';
@import 'pages/index';
@import 'components/index';

@import "font-awesome";

html, body {
  background-color: $bg-color;
  margin: 0;
  scroll-behavior: smooth;
  padding-bottom: 3rem;

  @media (max-width: 768px) {
    padding-bottom: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  margin: 0;
  color: $font-light;
}

p, li, a, ul, ol, label, em, span {
  font-family: $content-font;
  color: $font-light;
  margin: 0;
  padding: 0;
}

label {
  margin: 1rem 0 0.3rem;
}

a {
  text-decoration: none;
}

::selection {
  background-color: rgba($color: $primary-color, $alpha: 0.7);
  color: $font-dark;
}

.u-c-content {
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 576px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 768px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (min-width: 992px) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @media (min-width: 1200px) {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

.u-highlight-prim {
  color: $primary-color;
}

button, input[type="submit"] {
  border: none;
  border-radius: 0;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  appearance: none;
  border-radius: 0;
  border: 1px solid $primary-color;
  position: relative;
  margin: 0;

  &:checked {
    background-color: rgba($color: $primary-color, $alpha: 1.0);
    color: $font-dark;

    &::after {
      content: '\2713';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $font-dark;
      font-size: 0.8rem;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

input {
  border: 1.2px solid $primary-color;
  height: 0.8rem;
  padding: 0.8rem;
  font-size: 1rem;
  color: $font-light;
  background-color: #30313d;
  border-radius: 0;

  &:disabled {
    border: 1.2px solid rgba($color: $primary-color, $alpha: 0.7);
    background-color: rgba($color: #ffffff, $alpha: 0.7);
  }

  &::placeholder {
    color: rgba($color: $font-light, $alpha: 0.5);
  }
}

:focus {
  box-shadow: 0 0 1rem $primary-color;
  outline: none;
}

input[type="password"], input[type="password"]::placeholder {
  letter-spacing: 3px;
}

.u-name-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  @media (max-width: 768px) {
    gap: 0;
    grid-template-columns: 1fr;
  }
}

button, a {
  & i {
    margin-right: 8px;
  }
}

.u-base-calculation {
  font-style: italic;
  color: lightgrey;
  font-size: $font-size-xs-min;
}

.u-form-group {
  width: 100%;
  margin-bottom: 1rem;
  @include flex-column;
  box-sizing: border-box;
}

.u-form-label {
  display: block;
}

.u-checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;

  label {
    display: inline-block;
    margin: 0 0.5rem;
  }
}
