<div id="dashboard-cont">
  <% if current_user.admin? %>
    <div class="buttons-cont">
      <%= link_to new_admin_bet_path, class: "button-prim" do %>
        <%= icon('fa-solid', 'plus') %> Create a bet
      <% end %>
    </div>
  <% end %>

  <% @paginated_groups.each do |bets| %>
    <%= render 'shared/pick_and_parlay_card', bets:, mailer: false %>
  <% end %>

  <%= paginate @paginated_groups, params: request.query_parameters %>
</div>
